In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

In [13]:
train_data = pd.read_csv('titanic/train.csv')
new_data = pd.read_csv('titanic/test.csv')

In [14]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [74]:
train_data['Sex'] = (train_data['Sex'] == 'female').astype(int)
new_data['Sex'] = (train_data['Sex'] == 'female').astype(int)
feat_cols = ['Pclass', 'Sex', 'Age', 'SibSp', 'Fare']

c:\python36\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [75]:
train_data.fillna(0, inplace=True)
new_data.fillna(0, inplace=True)

X = train_data.loc[:, feat_cols]
y = train_data.Survived

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [77]:
gb = GradientBoostingClassifier(max_depth=2, learning_rate=0.07, n_estimators=200)
gb.fit(X_train, y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.07, loss='deviance', max_depth=2,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=200,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [78]:
print(gb.score(X_train, y_train))
print(gb.score(X_test, y_test))

0.7859281437125748
0.7443946188340808

In [79]:
X_new = new_data.loc[:, feat_cols]

In [80]:
prediction = gb.predict(X_new)

In [81]:
pd.DataFrame({'PassengerId': new_data.PassengerId, 'Survived': prediction}).set_index('PassengerId').to_csv('sub6.csv')